.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
}
.heading{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: linear-gradient(to right, #460000, #8f0000);
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.form_div{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.input_field{
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}
.input_field input
{
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
    width: 40%;;
    background-color: aliceblue;
    font-size: 1rem;
    position: relative;
}
.login_btn{
    margin: auto 2rem;
    text-decoration: none;
    color: black;
    background: white;
    padding: 0.7rem 2rem;;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;
    -webkit-box-shadow: 6px 8px 16px -4px rgba(97,97,97,1);
    -moz-box-shadow: 6px 8px 16px -4px rgba(97,97,97,1);
    box-shadow: 6px 8px 16px -4px rgba(97,97,97,1); 
}